<%- layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Hotel</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/hotels/<%= hotel._id %>?_method=PUT" 
            method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Hotel Name</label>
                <input class="form-control" required type="text" name="hotel[name]" id="name" value="<%= hotel.name %>">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" required type="text" name="hotel[location]" id="location" value="<%= hotel.location %>">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price Per Night</label>
                <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input type="text" required class="form-control" id="price" name="hotel[price]" value="<%= hotel.price %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add more image(s)</label>
                <input class="form-control"  type="file" name="hotel[image]" id="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="desc">Description</label>
                <textarea class="form-control" required type="text" name="hotel[desc]" id="desc"> <%= hotel.desc %> </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <% hotel.images.forEach((img,i) => { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" >
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Remove</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-secondary">Edit Hotel</button>
            </div>
        </form>
        <a href="/hotels">All Hotels</a>
        <a href="/hotels/<%= hotel._id %>">Go Back</a>
    </div>
</div>

